/* Please use icon-variant-v2 instead */
.home-container {
  float: left;
  max-width: 970px;
  width: 100%; }

.content-no-ads .content {
  max-width: 970px; }

@media (max-width: 1174px) {
  .home-container {
    float: none;
    margin: 0 auto; } }

.home-friends-list-container {
  height: 206px; }
  @media (max-width: 991px) {
    .home-friends-list-container {
      height: 196px; } }
  .home-friends-list-container .container-header h3 {
    min-width: 110px; }

.people-list-container {
  height: 190px; }
  @media (max-width: 991px) {
    .people-list-container {
      height: 180px; } }
  .people-list-container .container-header h3 {
    min-width: 80px; }

.places-list-placeholder {
  height: 275px; }
  .places-list-placeholder .spinner {
    margin: 106px auto; }
