@-moz-document domain("www.roblox.com") {
	/*//=={ 2019 old theme Watermarks }==*/
	& when not (@WatermarkStyle = None) {
		.rbx-left-col:before {
			& when (@WatermarkStyle = DEV) {
				content: '(Default Theme) Development Purposes Only!';
			}
			& when (@WatermarkStyle = Experimental) {
				content: '(Default Theme) Testing Purposes Only!';
			}
			font-size: 16px;
			text-align: center;
			position: absolute;
			display: block;
			width: 100%;
			bottom: 18px;
			padding: 0 10px;
			color: #191919
		}
		.light-theme .rbx-left-col:before {
			& when (@WatermarkStyle = DEV) {
				content: '(Light Theme) Development Purposes Only!';
			}
			& when (@WatermarkStyle = Experimental) {
				content: '(Light Theme) Testing Purposes Only!';
			}
			& when (@MatchDefaultSiteColors = 1) {
				color: #393b3d;
			}
		}
		.rbx-left-col:after {
			content: 'Milestone 1.2.9.36';
			font-size: 12px;
			text-align: center;
			position: absolute;
			display: block;
			width: 100%;
			bottom: 0;
			padding: 0 10px;
			color: #b8b8b8;
		}
		& when (@MatchDefaultSiteColors = 1) {
			.light-theme .rbx-left-col:after {
				color: #606162;
			}
		}
		.dark-theme .rbx-left-col:before {
			& when (@WatermarkStyle = DEV) {
				content: '(Dark Theme) Development Purposes Only!';
			}
			& when (@WatermarkStyle = Experimental) {
				content: '(Dark Theme) Testing Purposes Only!';
			}
			& when (@MatchDefaultSiteColors = 1) {
				color: #fff;
			}
			& when not (@MatchDefaultSiteColors = 1) {
				color: #E6E6E6;
			}
		}
		.dark-theme .rbx-left-col:after {
			& when (@MatchDefaultSiteColors = 1) {
				color: #bdbebe;
			}
			& when not (@MatchDefaultSiteColors = 1) {
				color: #474747;
			}
		}
	}
}