/* ==UserStyle==
@name           Legacy Old Theme Tools
@namespace      github.com/tersiswilvin
@version        1.2.5
@description    Experimental Tools/Addons for the Roblox Legacy Old Theme
@author         TersisWilvin
@preprocessor   less
@var            checkbox  MatchDefaultSiteColors  "Match Roblox Site Colors"       0
@var            checkbox  RestoreSidebarPadding   "Restore legacy sidebar padding" 0
@var            checkbox  SourceSansPro           "Source Sans Pro Font"           0
@var            select    WatermarkStyle          "Watermark Branch"               ["None*","DEV","Experimental","Hidden"]
==/UserStyle== */

@-moz-document domain("web.roblox.com"), domain("www.roblox.com") {
	/*/=={ Watermark }==/*/
    .rbx-left-col when not (@WatermarkStyle = None) {
        & when (@WatermarkStyle = Hidden) {
            &, .light-theme &, .dark-theme & {
                &:before, &:after {
                    display: none;
                }
            }
        }
        & when not (@WatermarkStyle = Hidden) {
            body &:before {
                & when (@WatermarkStyle = DEV) {
                    content: "(Legacy Theme) Development Purposes Only";
                }
                & when (@WatermarkStyle = Experimental) {
                    content: "(Legacy Theme) Testing Purposes Only";
                }
                color: #191919;
                font-size: 18px;
                line-height: 18px;
                text-align: center;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                right: 0;
                & when (@RestoreSidebarPadding = 0) {
                    width: 165px;
                    padding: 0 0 0 10px
                }
                & when (@RestoreSidebarPadding = 1) {
                    width: 100%;
                    padding: 0 10px;
                }
                margin: 0 0 28px;
            }
            body.light-theme &:before {
                & when (@WatermarkStyle = DEV) {
                    content: "(Light Theme) Development Purposes Only";
                }
                & when (@WatermarkStyle = Experimental) {
                    content: "(Light Theme) Testing Purposes Only";
                }
            }
            body.dark-theme &:before {
                & when (@WatermarkStyle = DEV) {
                    content: "(Dark Theme) Development Purposes Only";
                }
                & when (@WatermarkStyle = Experimental) {
                    content: "(Dark Theme) Testing Purposes Only";
                }
            }
            & when (@SourceSansPro = 0) {
                body.gotham-font &:before, body.builder-font &:before {
                    font-size: 16px;
                    line-height: 16px;
                    margin: 0 0 24px;
                }
            }
            body &:after {
                content: "Milestone 1.3.16";
                color: #b8b8b8;
                font-size: 14px;
                line-height: 14px;
                text-align: center;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                right: 0;
                & when (@RestoreSidebarPadding = 0) {
                    width: 165px;
                    padding: 0 0 0 10px
                }
                & when (@RestoreSidebarPadding = 1) {
                    width: 100%;
                    padding: 0 10px;
                }
                margin: 0 0 7px
            }
            body.dark-theme & when (@MatchDefaultSiteColors = 0) {
                &:before {
                    color: #e6e6e6
                }
                &:after {
                    color: #474747
                }
            }
            & when (@SourceSansPro = 0) {
                body.gotham-font &:after, body.builder-font &:after {
                    font-size: 12px;
                    line-height: 12px;
                    margin: 0 0 6px;
                }
            }
            & when (@MatchDefaultSiteColors = 1) {
                .light-theme &:before, .dark-theme &:before {
                    color: inherit;
                }
                .light-theme &:after {
                    color: #606162;
                }
                .dark-theme &:after {
                    color: #bdbebe;
                }
            }
        }
    }
	& when (@MatchDefaultSiteColors = 1) {
		.light-theme .icon-default-abuse-report, .light-theme .icon-success, .light-theme .icon-bad-language, .light-theme .icon-private-info, .light-theme .icon-bullying, .light-theme .icon-dating, .light-theme .icon-exploiting, .light-theme .icon-phishing, .light-theme .icon-inappopriate-content, .light-theme .icon-real-life, .light-theme .icon-other {
			filter: grayscale(100%);
		}
		.dark-theme .icon-default-abuse-report, .dark-theme .icon-success, .dark-theme .icon-bad-language, .dark-theme .icon-private-info, .dark-theme .icon-bullying, .dark-theme .icon-dating, .dark-theme .icon-exploiting, .dark-theme .icon-phishing, .dark-theme .icon-inappopriate-content, .dark-theme .icon-real-life, .dark-theme .icon-other {
			filter: grayscale(100%) brightness(1.5);
		}
	}
}